<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/countries">
        Countries
      </a>
      <a class="navbar-brand" href="/countries/new">
        New Country
      </a>
      <a class="navbar-brand" href="/cities">
        Cities
      </a>
      <a class="navbar-brand" href="/cities/new">
        New City
      </a>
    </div>
  </div>
</nav>
