<form action="/countries" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name" >
  </div>
  <div class="form-group">
    <label for="continent">Continent</label>
    <input type="text" class="form-control" placeholder="Continent" name="continent" >
  </div>
  <div class="form-group">
    <label for="main_language">Main Language</label>
    <input type="text" class="form-control"  name="main_language" >
  </div>
  <div class="form-group">
    <label for="population">Population</label>
    <input type="text" class="form-control" placeholder="Population" name="population" >
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
