

<h1 style="text-align:center;font:sans-serif;">Countries</h1>

<h4>Welcome to the website full of <strong>worldly</strong> collections. Want to see the language a country speaks? The current population? The continent it is in? This site has it all!</h4>

<p>Ever wondered where to visit on holiday? OR even where to move house? This website shows key information that could aid your decision, whether it be the population or the language they speak. If you can't see a country you'd recommend, why not add it onto the list with ur input tool! <a href="http://localhost:9292/countries/new">Click Here</a> to add information or click on the 'new country' button on the top of the page.</p>
<img style="text-align:center;height:300px;width:600px;"src="/images/kauai.jpg" alt="">
