// underscore at the beginning of the file means that it is part of another file i.e. main.scss

/* RGB */
$color1: rgba(234, 196, 53, 1);
$color2: rgba(52, 89, 149, 1);
$color3: rgba(3, 206, 164, 1);
$color4: rgba(251, 77, 61, 1);
$color5: rgba(202, 21, 81, 1);
