// underscore at the beginning of the file means that it is part of another file i.e. main.scss

/* RGB */
$color1: rgba(117, 221, 221, 1);
$color2: rgba(80, 137, 145, 1);
$color3: rgba(23, 42, 58, 1);
$color4: rgba(0, 67, 70, 1);
$color5: rgba(9, 188, 138, 1);
